@keyframes jump {
    0% {
        top: 250px;
    }
    50% {
        top: 75px;
    }
    100% {
        top: 250px;
    }
}

@keyframes move {
    0% {
        left: calc(100vw - 65px);
    }
    100% {
        left: -65px;
    }
}
